
Debug/images/circus.jpg
Debug/images/danya.jpg
Debug/images/max.jpg
Debug/images/placeholder.jpg
Debug/openal32.dll
Debug/sfml-graphics-d-2.dll
Debug/sfml-system-d-2.dll
Debug/sfml-window-d-2.dll
Debug/statphys.exe
Debug/virgo.ttf
